/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
 Document
 ========
 */
/**
 Use a better box model (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
 1. Correct the line height in all browsers.
 2. Prevent adjustments of font size after orientation changes in iOS.
 3. Use a more readable tab size (opinionated).
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
 Sections
 ========
 */
/**
 1. Remove the margin in all browsers.
 2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 */
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
 Grouping content
 ================
 */
/**
 1. Add the correct height in Firefox.
 2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
 */
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
 Text-level semantics
 ====================
 */
/**
 Add the correct text decoration in Chrome, Edge, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 Add the correct font weight in Edge and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 2. Correct the odd 'em' font sizing in all browsers.
 */
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
 Tabular data
 ============
 */
/**
 1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
 2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
 */
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
 Forms
 =====
 */
/**
 1. Change the font styles in all browsers.
 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 Remove the inheritance of text transform in Edge and Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 Remove the inner border and padding in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 Restore the focus styles unset by the previous rule.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 Remove the additional ':invalid' styles in Firefox.
 See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
 */
:-moz-ui-invalid {
  box-shadow: none;
}

/**
 Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
 */
legend {
  padding: 0;
}

/**
 Add the correct vertical alignment in Chrome and Firefox.
 */
progress {
  vertical-align: baseline;
}

/**
 Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 1. Correct the odd appearance in Chrome and Safari.
 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 Remove the inner padding in Chrome and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 1. Correct the inability to style clickable types in iOS and Safari.
 2. Change font properties to 'inherit' in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
 Interactive
 ===========
 */
/*
 Add the correct display in Chrome and Safari.
 */
summary {
  display: list-item;
}

:root {
  --primary-text-color: #212121;
  --primary-bacground-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
}

html {
  box-sizing: border-box;
}

textarea {
  resize: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
  width: 100%;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bacground-color);
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

.logo {
  display: block;
  min-width: 145px;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__style--light {
  color: #ffffff;
}

.logo__style--dark {
  color: var(--primary-text-color);
}

.btn-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-bacground-color);
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:focus {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.06em;
  color: var(--primary-bacground-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-order:hover {
  opacity: 0.8;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-order:focus {
  opacity: 0.8;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--primary-bacground-color);
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) translateX(-150px);
  opacity: 0;
}

.modal__title {
  min-width: 448;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form {
  margin-bottom: 10px;
}

.form__label,
.form-comment__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__wrap {
  position: relative;
}

.form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  margin-right: 12px;
  transform: translateY(-50%);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover + .form__icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
  margin-bottom: 20px;
}

.form-comment__text {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment__text:focus {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment__text:hover {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check {
  margin-bottom: 30px;
}

.form-check__box {
  display: flex;
  align-items: baseline;
}

.form-check__label {
  display: flex;
  align-items: center;
  margin: auto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-check__label span {
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 3px;
  margin-right: 8.38px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-check__input:checked + .form-check__label span {
  background-color: var(--accent-color);
  border: none;
}
.form-check__input:checked + .form-check__label span:focus {
  background-color: var(--accent-color);
  border: none;
}

.form-check__icon {
  fill: transparent;
}
.form-check__input:checked + .form-check__label .form-check__icon {
  fill: #ffffff;
}

.form-check__link {
  margin-left: 3px;
  font-size: 14px;
  line-height: 1.71;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.btn-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  padding: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.btn-submit:hover {
  opacity: 0.9;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-submit:focus {
  opacity: 0.9;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc {
  display: flex;
  justify-content: center;
}

.soc__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.soc__item:last-child {
  margin-right: 0;
}

.soc__item--light {
  background-color: var(--primary-bacground-color);
}

.soc__item--dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.soc__link--light {
  color: #FFFFFF;
}

.soc__link--dark {
  color: #afb1b8;
}

.soc__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover {
  background-color: var(--accent-color);
  color: var(--primary-bacground-color);
}
.soc__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-bacground-color);
}

.soc__icon {
  fill: currentColor;
}

.header {
  background: var(--primary-bacground-color);
}

.header .container {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  margin-left: 91px;
}

.nav__item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__item {
  position: relative;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link.current {
  color: var(--accent-color);
}
.nav__link:hover {
  color: var(--accent-color);
}
.nav__link:focus {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts__item:not(:first-child) {
  margin-left: 30px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__mail,
.contacts__tel {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__mail:hover,
.contacts__mail:focus,
.contacts__tel:focus,
.contacts__tel:hover {
  color: var(--accent-color);
}

.hero {
  background: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  min-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.title {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  align-items: center;
  color: var(--primary-bacground-color);
  max-width: 696px;
}

.advantage {
  padding-top: 94px;
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
}

.advantage__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.advantage__item {
  width: 270px;
  margin-right: 30px;
}

.advantage__item:nth-child(4n) {
  margin-right: 0;
}

.advantage__title {
  display: block;
  max-width: 270px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.advantage__text {
  display: block;
  margin-top: 10px;
  max-width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.works__title {
  display: block;
  padding-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.works__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.works__item {
  width: 100%;
}

.works__item {
  position: relative;
}

.product {
  display: block;
  position: absolute;
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.product__title {
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team__title {
  display: block;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.team__item {
  background-color: var(--primary-bacground-color);
}

.team__item {
  width: 270px;
  margin-right: 30px;
}
.team__item:nth-child(4n) {
  margin-right: 0;
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__text {
  display: block;
  margin-top: 10px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.customers {
  padding-bottom: 94px;
}

.customers__titel {
  display: block;
  padding-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.customers__list {
  display: flex;
  justify-content: center;
}

.customers__item {
  display: flex;
  margin-right: 30px;
  width: 170px;
  height: 92px;
}

.customers__item:last-child {
  margin-right: 0;
}

.customers__icon {
  fill: currentColor;
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.customers__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer__contact {
  margin-right: 70px;
}

.address {
  font-style: normal;
}

.address__list {
  margin-top: 20px;
}

.address__item {
  display: block;
  margin-bottom: 9px;
}
.address__item:last-child {
  margin-bottom: 0;
}

.address__link--light {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
}

.address__link--dark {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.join__title {
  display: block;
  margin-bottom: 20px;
  width: 144px;
  height: 16px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscribe {
  width: 570px;
  height: 75px;
  margin-left: auto;
}

.subscribe__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 17.44px;
}

.subscribe__wrap {
  display: flex;
}

.subscribe__input {
  width: 358px;
  height: 34.88px;
  margin-right: 12px;
  color: #ffffff;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 13.08px;
  padding-bottom: 4.36px;
  padding-left: 16px;
}
.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 13.08px;
  padding-bottom: 4.36px;
  padding-left: 16px;
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 13.08px;
  padding-bottom: 4.36px;
  padding-left: 16px;
}
.subscribe__input:hover {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__input:focus {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 43.6px;
  padding-top: 8.72px;
  padding-bottom: 8.72px;
  padding-left: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-bottom: 0;
}
.subscribe__button:hover {
  opacity: 0.8;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__button:focus {
  opacity: 0.8;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__icon {
  margin-left: 10px;
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */