.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 34px;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
   
    
}

.portfolio__button {
    display: inline-block;
    border: none;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.89;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #f5f4fa;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: #ffffff;
        background-color: #2196f3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus {
        color: #ffffff;
        background-color: #2196f3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}


.portfolio__btn {
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
}

.card {
    display: block;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.card__item {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
        margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 60px) / 3);
    }


    // width: 370px;
    // margin-right: 30px;
    // margin-bottom: 30px;

    // &:nth-child(3n) {
    //     margin-right: 0;
    // }

    // &:nth-last-child(-n + 3) {
    //     margin-bottom: 0;
    // }
}

.card__wrap {
    position: relative;
    overflow: hidden;
    
}

.card__description {
    position: absolute;
    top: 0;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms linear;

    padding: 63px 24px;
    min-width: 322px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);
}

.card__title {
    margin-bottom: 4px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card__text {
    line-height: 1.89;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.card__name {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;

}

.card__link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

.card__link:hover .card__description,
.card__link:focus .card__description {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}