.team {
    // padding-top: 94px;
    // padding-bottom: 94px;

    padding-top: 60px;
    padding-bottom: 60px;
    background: #f5f4fa;
}

.team__title {
    display: block;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    // font-size: 36px;
        
}

.team__list {
    // display: flex;
    // flex-wrap: wrap;

    // text-align: center;
    // display: flex;
    // flex-wrap: wrap;
    // gap: 30px;

    display: block;

}


.team__item {
    background-color: var(--primary-bacground-color);
    width: 100%;
    margin-bottom: 30px;
    &:nth-child(4n) {
        margin-bottom: 0;
    }
}


.team__card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    display: block;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    
}

.team__text {
    display: block;
    margin-top: 10px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}