.modal {
    width: 528px;
    min-height: 581px;
    border-radius: 4px;
    background-color: var(--primary-bacground-color);
    padding: 40px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) translateX(-150px);
        opacity: 0;
    }
}

.modal__title {
    min-width: 448;
    text-align: center;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.form {
    margin-bottom: 10px;
}

.form__label,
.form-comment__label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.form__wrap {
    position: relative;
}

.form__input {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--accent-color);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover {
        border-color: var(--accent-color);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.form__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    margin-right: 12px;
    transform: translateY(-50%);

    .form__input:focus+& {
        fill: var(--accent-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .form__input:hover+& {
        fill: var(--accent-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.form-comment {
    margin-bottom: 20px;
}

.form-comment__text {
    width: 448px;
    height: 120px;

    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--accent-color);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover {
        border-color: var(--accent-color);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.form-check {
    margin-bottom: 30px;
}

.form-check__box {
    display: flex;
    align-items: baseline;
}

.form-check__label {
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}

.form-check__label {
    width: 16px;
    height: 15px;
    border: 2px solid rgba(33, 33, 33, 1);
    border-radius: 3px;
    margin-right: 8.38px;
    display: flex;
    align-items: baseline;
    justify-content: center;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form-check__input:checked+& {
        background-color: var(--accent-color);
        border: none;
    }

    .form-check__input:checked+&:focus {
        background-color: var(--accent-color);
        border: none;
    }
}

.form-check__icon {
    fill: transparent;

    .form-check__input:checked+.form-check__label & {
        fill: #ffffff;
    }
}

.form-check__link {
    margin-left: 3px;
    font-size: 14px;
    line-height: 1.71;
    text-decoration-line: underline;
    color: var(--accent-color);
}

.btn-submit {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: #ffffff;
    padding: 10px;
    padding-right: 55px;
    padding-bottom: 10px;
    padding-left: 56px;
    width: 200px;
    height: 50px;

    display: block;
    margin: 0 auto;

    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    &:hover {
        opacity: 0.9;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus {
        opacity: 0.9;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}