.soc {
    display: flex;
    justify-content: center;
}

.soc__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:last-child {
        margin-right: 0;
    }
}

.soc__item--light {
    background-color: var(--primary-bacground-color);
}

.soc__item--dark {
    background-color: rgba(255, 255, 255, 0.1);
}

.soc__link--light {
    color: #FFFFFF;
}

.soc__link--dark {
    color: #afb1b8;
}

.soc__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: var(--accent-color);
        color: var(--primary-bacground-color);
    }

    &:focus {
        background-color: var(--accent-color);
        color: var(--primary-bacground-color);
    }
}

.soc__icon {
    fill: currentColor;
}